body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #0A070E;
}

.welcome_back {
    color: #3386FF;
}

.pls_log_in {
    color: #ffffff;

}

.footer {
    background-color: #3F3F3F;
    color: #fff;
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: end;
    /* Push the footer to the bottom */
    /* padding-right: 20px; */
    padding-top: 20px;
    padding-bottom: 20px;
}


.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background-color: #3F3F3F;

}

.evoluzn_logo {
    width: 140px;
    padding-left: 5vw;
    padding-top: 1vw;
}

.email_login {
    width: 99%;
    height: 40px;
    font-size: larger;
    border-radius: 10px;
    background-color: #3F3F3F;
    border-color: #ffffff;
    color: #fff;
    text-indent: 10px; 



    background-image: url('../img/mingcute_checkbox-fill.png'); /* URL to your icon image */
    background-repeat: no-repeat;
    /* background-position: calc(100% - 10px) right ;  */
    background-size:20px;
    background-position: right 10px center;
}

.password_login {
    width: 99%;
    height: 40px;
    border-radius: 10px;
    background-color: #3F3F3F;
    border-color: #ffffff;
    color: #fff;
    text-indent: 10px; 

}

.password_login:focus {
    border-color: #fff;
    outline: none;
}

.email_address_title {
    margin-top: 40px;
    color: #3386FF;
    margin-bottom: 0.5vh;
}

.password_title {
    margin-top: 40px;
    color: #3386FF;
    margin-bottom: 0.5vh;

}

.remember_me_forgotpassword {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.remember_me {
    color: #fff;
    cursor: pointer;
}

.Forgot_password {
    color: #3386FF;
    cursor: pointer;
}

.checkbox_ {
    cursor: pointer;
}

.login_button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #3386FF;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border-color: #fff;
    cursor: pointer;
}

.login_button_div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 2vh;
}

.footer2 {
    margin-right: 20px;

}

.email_login:focus {
    border-color: #fff;
    outline: none;
}