
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #0A070E;

}
.evoluzn_logo {
    /* width: 140px; */
    padding-left: 5vw;
    padding-top: 15px;
    max-width: 140px;
}
.resetyourpassword_container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background-color: #1A1A1A;

}
.resetyourpassword_main_container{
padding-left: 20px;
padding-right: 20px;
margin-top: 5vh;
}
/* ********************* */
.resetyourpassword_newpassword {
    width: 99%;
    height: 40px;
    font-size: larger;
    border-radius: 25px;
    background-color: #1A1A1A;
    border-color: #ffffff;
    color: #fff;
    text-indent: 10px;
    margin-top: 1vh;
}

.resetyourpassword_newpassword:focus {
    border-color: #fff;
    outline: none;
}
.resetyourpassword_conformpassword {
    width: 99%;
    height: 40px;
    font-size: larger;
    border-radius: 25px;
    background-color: #1A1A1A;
    border-color: #ffffff;
    color: #fff;
    text-indent: 10px;
    margin-top: 1vh;
}

.resetyourpassword_conformpassword:focus {
    border-color: #fff;
    outline: none;
}
/* ********** */
.resetyourpassword_title {
    color: #3386FF;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 3vh;}

.resetyourpassword_password_reset {
    color: #ffffff;
}

.resetyourpassword_email_title {
    color: #3386FF;
    margin-top: 2vh;
}
.resetyourpassword_submit_button_div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
}
.resetyourpassword_button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #3386FF;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    border-color: #fff;
    cursor: pointer;
}

.footer {
    background-color: #3F3F3F;
    color: #fff;
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: end;
    /* Push the footer to the bottom */
    /* padding-right: 20px; */
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer2 {
    margin-right: 20px;

}