<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="../static/css/conformotp.css" rel="stylesheet">


</head>
<body>
    <div>
        <img class="evoluzn_logo" src="../static/img/evoluzn_logo.png">

        <div class="conform_otp_container_main">
        <div class="conform_otp_container">
            <h2 class="conform_otp_conform_otp">Confirm OTP</h2>
            <div class="conform_otp_enter_otp">Please enter the one-time password.</div>
            <div class="conform_otp_verifyotp_div">
                <button class="conform_otp_verify_otp">
                    Verify OTP
                </button>
            </div>
        </div>
    </div>
    </div>


    <div class="footer">
        <div class="footer2">Powered by Evoluzn</div>
    </div>

    
</body>
</html>