<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/devicetable.css">

</head>

<body>
    <div>
        <img class="evoluzn_logo" src="../static/img/evoluzn_logo.png">

        <div class="devicetable_main">
            <div class="devicetable_container">
                <div class="devicetable_title">Device Table</div>

                <form>
                    <div class="devicetable_form_section">
                       
                        <div class="devicetable_email_phone_section ">
                            <div class="email_section_div">
                                <div class="devicetable_email">ID</div>
                                <input class="devicetable_email_input" type="text">
                            </div>
                            <div class="phone_section_div">
                                <div class="devicetable_phone_number">Serial Number</div>
                                <input class="devicetable_phone_number_input" type="number">
                            </div>
                        </div>


                        <div class="devicetable_password_conform_password_section row">
                            <div class="password_section_div" >
                                <div class="devicetable_password">Mac. ID</div>
                                <input class="devicetable_password_input" type="password">
                            </div>
                            <div class="conform_password_section_div" >
                                <div class="devicetable_conform_password">Device Location</div>
                                <input class="devicetable_conform_password_input" type="text">
                            </div>
                        </div>

                        <div class="devicetable_password_conform_password_section row">
                            <div class="password_section_div">
                                <div class="devicetable_password">Row Number</div>
                                <input class="devicetable_password_input" type="number">
                            </div>
                            <div class="conform_password_section_div" >
                                <div class="devicetable_conform_password">Column Number</div>
                                <input class="devicetable_conform_password_input" type="number">
                            </div>
                        </div>


                    </div>

                    <div class="devicetable_button_div">
                        <button class="devicetable_button" type="submit">Register</button>
                    </div>
                    <div class="devicetable_already_have_an_account">Already have an account?<span
                            class="devicetable_login_span">Log In</span></div>

                </form>

            </div>

        </div>
    </div>


    <div class="footer">
        <div class="footer2">Powered by Evoluzn</div>
    </div>
</body>

</html>