<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link href="../static/css/engineering_screen.css" rel="stylesheet">
<link href="../static/css/bootstrap.min.css" rel="stylesheet">

<body style="background-color: black;">

    <img class="evoluzn_logo" src="../static/img/evoluzn_logo.png">

    <div class="engineering_main_container">
        <div class="engineering_container">
            <h2>Details</h2>
            <div>
                Address
            </div>
            <input class="engineering_screen_email" type="email">

            <div class="engineering_pincode_country col">
                <div class="row">
                        <div>Pin Code</div>
                        <input class="engineering_pincode" >
                </div>
                <div class="row">
                        <div>Country</div>
                        <input class="engineering_country" >
                </div>
            </div>

            <div class="engineering_state_city">
                <div class="">
                        <div>State</div>
                        <input class="" >
                </div>
                <div class="">
                        <div>City</div>
                        <input class="" >
                </div>
            </div>
            <div class="engineering_state_row_col">
                <div class="">
                        <div>State</div>
                        <input class="" >
                </div>
                <div class="">
                        <div>Rows & Colums (X x Y)</div>
                        <input class="" >
                </div>
            </div>
           <div class="engineering_conform_button_div">
            <button class="engineering_conform_button_conform">
                Confirm
            </button>
           </div>
        </div>
    </div>
</body>

</html>