<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/engineering_screen.css">

</head>

<body>
    <div>
        <img class="evoluzn_logo" src="../static/img/evoluzn_logo.png">

        <div class="engineering_screen_main">
            <div class="engineering_screen_container">
                <div class="engineering_screen_title">Details</div>

                <form>
                    <div class="engineering_screen_form_section">
                        <div class="engineering_screen_full_name">Address</div>
                        <input class="engineering_screen_full_name_input" type="text">

                        <div class="engineering_screen_email_phone_section ">
                            <div class="email_section_div">
                                <div class="engineering_screen_email">Pin Code</div>
                                <input class="engineering_screen_email_input" type="number">
                            </div>
                            <div class="phone_section_div">
                                <div class="engineering_screen_phone_number">Country</div>
                                <input class="engineering_screen_phone_number_input" type="text">
                            </div>
                        </div>


                        <div class="engineering_screen_password_conform_password_section row">
                            <div class="password_section_div">
                                <div class="engineering_screen_password">State</div>
                                <input class="engineering_screen_password_input" type="text">
                            </div>
                            <div class="conform_password_section_div">
                                <div class="engineering_screen_conform_password">City</div>
                                <input class="engineering_screen_conform_password_input" type="text">
                            </div>
                        </div>

                        <div class="engineering_screen_conform_password">Rows & Colums (X x Y)</div>
                        <input class="engineering_screen_conform_password_input" type="number">

                    </div>

                    <div class="engineering_screen_button_div">
                        <button class="engineering_screen_button" type="submit">Register</button>
                    </div>
                

                </form>

            </div>

        </div>
    </div>


    <div class="footer">
        <div class="footer2">Powered by Evoluzn</div>
    </div>
</body>

</html>