<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/login.css">

</head>

<body>
    <div>
        <img class="evoluzn_logo" src="../static/img/Group 792.png">
        <div style="margin-top: 10vh; padding: 20px;">
            <div class="container">
                <h2 class="welcome_back">WELCOME BACK</h2>
                <h4 class="pls_log_in">Please log in to your account</h4>

                <form>
                    <div class="email_address_title">Email Address</div>
                    <input class="email_login" type="email">
                    <div class="password_title">Password</div>
                    <input type="password" class="password_login">

                    <div class="remember_me_forgotpassword">
                        <label class="remember_me">Remember me
                            <input class="checkbox_"  type="checkbox" checked="checked">
                            <span class="checkmark"></span>

                        </label>

                        <div class="Forgot_password">Forgot Password?</div>
                    </div>
                    <div class="login_button_div">
                        <button class="login_button">Log in</button>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer2" >Powered by Evoluzn</div>
    </div>

</body>

</html>