<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="../static/css/password_reset_successfully.css" rel="stylesheet">

</head>

<body>

    <div>
        <img class="evoluzn_logo" src="../static/img/evoluzn_logo.png">

        <div class="password_reset_successfully_main_container">
            <div class="password_reset_successfully_container">
                <div class="password_reset_successfully_title">Password reset successful!</div>
                <div class="password_reset_successfully_sub_title">You can now use your new password to login to your account.</div>
                <div class="password_reset_successfully_login_div">
                    <button class="password_reset_successfully_login_button">Log In</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer2" >Powered by Evoluzn</div>
    </div>
</body>

</html>