<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/registration.css">

</head>

<body>
    <div>
        <img class="evoluzn_logo" src="../static/img/evoluzn_logo.png">

        <div class="registration_main">
            <div class="registration_container">
                <h2 class="registration_title">Registration</h2>

                <form>
                    <div class="registration_form_section">
                        <div class="registration_full_name">Full Name</div>
                        <input class="registration_full_name_input" type="text">

                        <div class="registration_email_phone_section ">
                            <div class="sssss" style="width: 100%; padding-right: 20px ;">
                                <div class="registration_email">Email</div>
                                <input class="registration_email_input" type="text">
                            </div>
                            <div class="" style="width: 100%;">
                                <div class="registration_phone_number">Phone Number</div>
                                <input class="registration_phone_number_input" type="number">
                            </div>
                        </div>


                        <div class="registration_password_conform_password_section row">
                            <div class="sssss" style="width: 100%; padding-right: 20px ;">
                                <div class="registration_password">Password</div>
                                <input class="registration_password_input" type="password">
                            </div>
                            <div class="" style="width: 100%;">
                                <div class="registration_conform_password">Confirm Password</div>
                                <input class="registration_conform_password_input" type="password">
                            </div>
                        </div>
                    </div>

                    <div class="registration_button_div">
                        <button class="registration_button" type="submit">Register</button>
                    </div>
                    <div class="registration_already_have_an_account">Already have an account?<span
                            class="registration_login_span">Log In</span></div>

                </form>

            </div>

        </div>
    </div>


    <div class="footer">
        <div class="footer2">Powered by Evoluzn</div>
    </div>
</body>

</html>