<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/resetyourpassword.css">

</head>
<body>
    
    <div>
        
        <img class="evoluzn_logo" src="../static/img/evoluzn_logo.png">

        <div class="resetyourpassword_main_container">
            <div class="resetyourpassword_container">
                <div class="resetyourpassword_title">Reset your password</div>

                <div class="resetyourpassword_email_title">
                    New Password
                </div>
                <input class="resetyourpassword_email resetyourpassword_newpassword" type="password">

                <div class="resetyourpassword_email_title">
                    Confirm New Password
                </div>

                <input class="resetyourpassword_email resetyourpassword_conformpassword" type="password">

                <div class="resetyourpassword_submit_button_div">
                    <button class="resetyourpassword_button">Reset Password</button>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer2" >Powered by Evoluzn</div>
    </div>

</body>
</html>