<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/css/resetpassword.css" rel="stylesheet">

</head>

<body>
    <div>
        <img class="evoluzn_logo" src="../static/img/evoluzn_logo.png">

        <div class="resetpassword_main">
            <div class="resetpassword_container">
                <div class="resetpassword_title">Reset Password</div>

                <div class="resetpassword_email_address">
                    Current Password
                </div>
                <input class="resetpassword_currentpassword" type="email">

                <div class="resetpassword_email_address">
                    New Password </div>
                <input class="resetpassword_newpassword" type="email">

                <div class="resetpassword_email_address">
                    Confirm New Password </div>
                <input class="resetpassword_conform_newpassword" type="email">

                <div class="remember_verification_code">Verification code</div>
                <div class="resetpassword_verification_code_div">
                    <input class="resetpassword_code1" maxlength="1" autofocus>
                    <input class="resetpassword_code1" maxlength="1">
                    <input class="resetpassword_code1" maxlength="1">
                    <input class="resetpassword_code1" maxlength="1">
                    <input class="resetpassword_code1" maxlength="1">
                    <input class="resetpassword_code1" maxlength="1">
                </div>
                <div class="remember_password_send_otp">
                    <button class="resetpassword_send_OTP_button">Send OTP</button>
                </div>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="footer2">Powered by Evoluzn</div>
    </div>

    <script src="../static/js/resetpassword.js"></script>
   
</body>

</html>